.detailWrap {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px; */
}
.detail {
  width: 100%;
}
.detailimg {
  /* width: calc(49% - 60px); */
  width: calc(100% - 60px);
  padding: 30px;
  margin-top: 30px;
  background-color: #fff;
  border: 1px solid #eee;
  padding-bottom: 100px;
}

.detailTextWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .detailTextWrap {
    flex-wrap: wrap;
  }
}
.detailTitle {
  width: 50%;
  font-size: 40px;
  margin-top: 15px;
  padding-left: 30px;
}
@media (max-width: 992px) {
  .detailTitle {
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 0px;
  }
}
.textleft {
  width: 50%;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .textleft {
    width: 100%;
    margin-top: 10px;
  }
}
.textleft p {
  color: #aaa;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .textleft {
    margin-top: 5px;
  }
}
.textleft span {
  margin-bottom: 20px;
  word-break: keep-all;
}
@media (max-width: 992px) {
  .textleft {
    margin-bottom: 10px;
  }
}
.btn {
  padding: 10px 15px;
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  display: inline;
  transition: 0.7s all ease;
}
.btn:hover {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
}
@media (max-width: 992px) {
  .btn {
    padding: 5px 10px;
    font-size: 12px;
  }
}
