.cover {
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.coverbg {
  width: 100vw;
  height: inherit;
  position: absolute;
  right: 0;
  top: 0%;
  background-image: url(../../img/cover.png);
  background-size: 50% cover;
  background-position: right;
  background-repeat: no-repeat;
  z-index: -1;
}
.coverText {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 5px;
  padding-left: 10%;
}
.coverText h2 {
  height: 100px;
  position: relative;
  font-family: "GmarketSansMedium";
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -6px;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-stroke: 0.5px #000;
}
@media (max-width: 768px) {
  .coverText h2 {
    font-size: 50px;
  }
}
.coverText h2 span {
  color: #333;
  text-shadow: none;
  display: inline;
}
.coverText h4 {
  position: relative;
  font-family: "GmarketSansMedium";
  font-size: 16px;
  letter-spacing: -0.05px;
  color: #666;
}
@media (max-width: 768px) {
  .coverText h4 {
    font-size: 14px;
  }
}

.coverSnsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  padding-top: 15px;
}
.coverSns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.7s all ease;
}
.coverSns i {
  font-size: 25px;
  color: #666;
  transition: 0.7s all ease;
}
.coverSns:hover i {
  color: #333;
  transform: translateY(-10px);
}
.scroll {
  width: 1px;
  height: 50px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 10%;
  animation-name: scrollanimation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes scrollanimation {
  from {
    height: 50px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0.3;
  }
}
.btn {
  padding: 10px 15px;
  border: 1px solid #000;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  transition: 0.7s all ease;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
@media (max-width: 768px) {
  .btn {
    padding: 7px 10px;
    font-size: 12px;
  }
}
