.marqueeTexts {
  text-align: center;
  color: transparent;
  font-size: 60px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  position: absolute;
  top: 20%;
}
@media (max-width: 768px) {
  .marqueeTexts {
    font-size: 30px;
    position: absolute;
    top: 30%;
  }
}
.marqueeBg {
  background-color: #111;
  padding: 10px 0;
  margin: 30px 0;
  position: relative;
}
