.portfolioItem {
  max-height: 260px;
}
@media (max-width: 768px) {
  .portfolioItem {
  }
}
.portfolioItem:hover .portfolioInner {
  bottom: 0;
}
.portfolioItem img {
  width: calc(100% - 40px);
  height: 100%;
  object-fit: contain;
  object-position: top;
  display: block;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.portfolioItem:hover img .portfolioInner {
}
.portfolioImg {
}
.portfolioText {
  color: #333;
  font-weight: 700;
  font-size: 18px;
}
/* a {
  width: 100%;
  display: block;
} */
.portfolioItemWrap {
  width: calc((96% - 120px) / 3);
  margin-top: 50px;
}
@media (max-width: 1400px) {
  .portfolioItemWrap {
    width: calc(96% / 2);
    margin-top: 30px;
  }
}
@media (max-width: 1200px) {
  .portfolioItemWrap {
  }
}
.portfolioDesc {
  width: 100%;
  margin-top: 20px;
}
.portfolioDesc p {
  font-size: 14px;
  display: flex;
  column-gap: 20px;
  color: #777;
}
.portfolioDesc p span {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
  color: #333;
}
.portfolioDesc a i {
  font-size: 30px;
  margin-right: 5px;
  color: #aaa;
  transition: 0.7s ease all;
}
.portfolioDesc a i:hover {
  color: #333;
}
.pfbtn {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  border: 1px solid #333;
  transition: 0.7s ease all;
}
.pfbtn:hover {
  color: #333;
  background-color: #fff;
}
