.profile {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
.profilePhoto {
  width: 50%;
  max-width: 500px;
  height: 500px;
  box-shadow: 1px 1px 10px #aaa;
  overflow: hidden;
}
@media (max-width: 950px) {
  .profilePhoto {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .profilePhoto {
    height: 300px;
  }
}
.profilePhoto img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}
.profileText {
  width: 50%;
  flex-wrap: wrap;
  max-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.profileText .mando {
  display: inline;
  color: #fff;
  background-color: #333;
}
@media (max-width: 950px) {
  .profileText {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .profileText {
    height: unset;
  }
}
.desc {
  color: #767676;
  font-size: 15px;
  font-weight: 500;
  margin-top: 40px;
  padding-bottom: 27px;
  line-height: 2em;
}
@media (max-width: 950px) {
  .desc {
    font-size: 12px;
    margin-top: 20px;
  }
}
.left {
  width: 49%;
  margin-right: 1%;
  word-break: keep-all;
}
.right {
  width: 49%;
  word-break: keep-all;
}
.left p,
.right p {
  font-size: 12px;
}
.left span,
.right span {
  font-size: 14px;
}
.left h3,
.right h3 {
  margin-bottom: 12px;
  color: #aaa;
}
.lineWrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 20px;
}
.line {
  height: 20px;
  width: 1px;
  background-color: #777;
  display: flex;
  justify-content: center;
}
.btn {
  font-size: 15px;
  padding: 13px 48px;
  background-color: #000;
  color: #fff;
  transition: 0.7s all ease;
  cursor: pointer;
}
@media (max-width: 950px) {
  .btn {
    font-size: 12px;
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    transition: 0.7s all ease;
    cursor: pointer;
  }
}
.btn:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}
.profileimg {
}
