.profile {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
.profilePhoto {
  width: 50%;
  max-width: 500px;
  height: 500px;
  box-shadow: 1px 1px 10px #aaa;
}
@media (max-width: 950px) {
  .profilePhoto {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .profilePhoto {
    height: 300px;
  }
}
.profileText {
  width: 50%;
  max-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 950px) {
  .profileText {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .profileText {
    height: unset;
    margin-top: 20px;
  }
}
.desc {
  color: #767676;
  font-size: 15px;
  font-weight: 500;
  margin-top: 40px;
  padding-bottom: 27px;
  line-height: 2em;
}
@media (max-width: 950px) {
  .desc {
    font-size: 12px;
    margin-top: 20px;
  }
}
.btn {
  font-size: 15px;
  padding: 13px 48px;
  background-color: #000;
  color: #fff;
  transition: 0.7s all ease;
  cursor: pointer;
}
@media (max-width: 950px) {
  .btn {
    font-size: 12px;
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    transition: 0.7s all ease;
    cursor: pointer;
  }
}
.btn:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}
