header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.5s ease all;
}
.active {
  background-color: #fff;
  box-shadow: 1px 1px 10px -3px #999;
}
.headerWrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .headerWrapper {
    height: 60px;
  }
}
.logo {
  display: inline-block;
}
.depth {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 768px) {
  .depth {
    column-gap: 15px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .depth {
    column-gap: 10px;
    font-size: 10px;
  }
}
.depth li {
  font-weight: 600;
  cursor: pointer;
}
/* CONTACT */
.contactBtn {
  display: inline-block;
  border: 2px solid #333;
  background-color: #fff;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.7s ease all;
}
@media (max-width: 768px) {
  .contactBtn {
    padding: 5px 15px;
  }
}
.contactBtn a {
  transition: 0.7s ease all;
}
.contactBtn:hover {
  background-color: #333;
}
.contactBtn:hover a {
  color: #fff;
}
/* 로고 애니메이션 */
/* .logo {
  width: 580px;
  height: 148px;
  overflow: hidden;
  font-family: "GmarkerSans";
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo .o,
.logo .h,
.logo .bcn {
  height: 10em;
  width: 8em;
  float: left;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.logo p {
  display: block;
  font-size: 10em;
  line-height: 1em;
  text-align: center;
  width: 100%;
  overflow: visible;
  vertical-align: middle;
}
.logo p.font-1 {
  font-family: "Faster One";
  margin: 0em;
}
.logo p.font-2 {
  font-family: "Press Start 2P";
  margin: 0.03em auto auto 0.03em;
}
.logo p.font-3 {
  font-family: "GmarkerSans";
  font-weight: 700;
  margin: 0em;
}
.logo p.font-4 {
  font-family: "Arbutus";
  margin: 0em;
}
.logo p.font-5 {
  font-family: "Josefin Sans";
  margin-top: 15px;
}

.logo .bcn {
  position: relative;
  float: left;
  width: auto;
  margin-top: -10px;
}
.logo .bcn h1 {
  font-size: 10em;
  font-weight: 700;
  line-height: 0em;
} */
