.title {
  display: inline-block;
  font-size: 12px;
  background-color: #ddd;
  margin: 0 0 15px;
  padding: 8px 10px;
}
.content {
  font-size: 30px;
  font-weight: 600;
  font-family: "GmarketSansMedium";
}
@media (max-width: 768px) {
  .content {
    font-size: 20px;
  }
}
